.intro
  .wrapper

    .title
      Продажа парфюмерии
      %br
      Kilian

    .subtitle
      Дарим скидку 
      %span.bold 700 рублей
      %br
      при покупке любого аромата
      %br
      Kilian только до
      %span.bold 25 июля


    .button#show-form
      Получить скидку 700 рублей